/* components/GroupList/GroupList.module.css */

.groupListContainer {
  height: 100%;
  position: relative;
  padding: 0 10px;
  display: flex;
  flex-direction: column;
}

.header {
  font-size: 2rem;
  font-weight: 600;
  text-align: center;
  margin-bottom: 20px;
  padding-top: 20px;
  flex-shrink: 0;
}

.groupScroller {
  flex-grow: 1;
  overflow-y: auto;
  padding-right: 10px;
  margin-bottom: 80px;
}

.addButton {
  position: absolute;
  bottom: 20px;
  right: 20px;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  background-color: #16005b;
  color: white;
  border: none;
  cursor: pointer;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  display: flex;
  justify-content: center;
  align-items: center;
  transition: background-color 0.2s;
}

.addButton:hover {
  background-color: #16008b;
}

.plusIcon {
  font-size: 2.5rem;
  line-height: 1;
}
