.appContainer {
  display: flex;
  height: 100vh;
  font-family: sans-serif;
}

.leftPanel {
  flex: 0 0 35%;
  background-color: white;
  overflow-y: auto;
  padding: 20px;
}

.rightPanel {
  flex: 1;
  display: flex;
  height: 100%;
  justify-content: center;
  align-items: center;
  background-color: #f7f7f7;
  position: relative;
}

@media (max-width: 768px) {
  .appContainer {
    flex-direction: column;
    width: 100%;
  }

  .leftPanel {
    flex: 1 1 100%;
    max-width: 100%;
    padding: 0;
  }

  .rightPanel {
    flex: 1 1 100%;
    max-width: 100%;
    height: 100vh;
    justify-content: flex-start;
    align-items: flex-start;
  }
}
